body{
    margin: 0;
    padding-top: 70px;
    padding-left: 295px;
}
@media (max-width: 767px) {
    body{
        padding-top: 70px;
        padding-left: 76px;
    }
}
.background{
    position: fixed;
    left: 0px;
    top: 70px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
}
