body{
    height: 3000px;
    margin: 0;
    padding-top: 70px;
    padding-left: 75px;
}
.background{
    position: fixed;
    left: 75px;
    top: 70px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
}