.overlay{
    position: relative;
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1023px) {
    .overlay{
        top: 70px;
        left: 230px;
    }
}
@media (max-width: 767px) {
    .overlay{
        align-items: flex-start;
        height: 1fr;
        left: 75px;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
}
@media (max-width: 420px) {
    .overlay{
        align-items: flex-start;
        height: 1fr;
        left: 75px;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
}
.home{
    background-color: rgba(242, 241, 250, 0.70);
    border-radius: 30px;
    padding: 60px;
    position: absolute;
    height: 1fr;
}
@media (max-width: 1023px) {
    .home{
        padding: 20px;
    }
}
@media (max-width: 767px) {
    .home{
        padding: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        scroll-padding-top: start;
    }
}
@media (max-width: 400px) {
    .home{
        margin-top: 50px;
    }
}
.bfar-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.bfar-home-logo{
    height: 137px;
    width: 129px;
}
.menu{ 
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}
@media (max-width: 1023px) {
    .menu{
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
}

@media (max-width: 767px) {
    .menu{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

.menu-link{
    background-color: rgba(217, 217, 217, 0.324);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}
.menu-link:hover{
    background-color: gray;
}
.menu-icon{
    margin: 8px;
}
.menu-text{
    color: black;
    font-size: 14px;
    font-family: DM Sans;
    font-weight: 700;
    margin-top: 5px;
}

