@media screen and (min-width: 1024px){

}
.sidebar{
    background-color: rgb(255,255,255);
    position: fixed;
    top: 69px;
    left: 0px;
    bottom: 0px;
    padding-top: 37px;
    padding-left: 30px;
    padding-right: 14px;
    z-index: 99;
}
.sidebar-open{
    display: none;
}
.sidebar-link{
    display: flex;
    align-items: center;
    width: 225px;
    padding: 12px;
    margin-bottom: 2px;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: lightgray;
}
.sidebar-icon{

}
.icon-text{
    color: rgb(50,64,84);
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    padding-left: 30px;
}
.sidebar-user-account{
    width: 225px;
    padding: 12px;
    margin-bottom: 2px;
    display: flex;
    cursor: pointer;
}
.sidebar-profile-picture{
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin-right: 10px;
}
.sidebar-user-name{
    color: rgb(50,64,84);
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Inter;
    line-height: 16px;
}
.sidebar-user-email{
    color: rgb(113,131,155);
    font-size: 12px;
    font-family: Inter;
    line-height: 14px;
}

@media screen and (min-device-width: 768px)
    and (max-device-width: 1023px){
    .sidebar{
        background-color: rgb(255,255,255);
        position: fixed;
        top: 70px;
        left: 0px;
        bottom: 0px;
        padding-top: 37px;
        padding-left: 14px;
        padding-right: 12px;
    }
    .sidebar-open{
        display: none;
    }
    .sidebar-link{
        display: flex;
        align-items: center;
        width: 180px;
        padding: 12px;
        margin-bottom: 2px;
        cursor: pointer;
    }
    .sidebar-icon{
    
    }
    .icon-text{
        color: rgb(50,64,84);
        font-size: 15px;
        font-family: Inter;
        font-weight: 500;
        line-height: 20px;
        padding-left: 18px;
    }
    .sidebar-user-account{
        width: 180px;
        padding: 12px 6px 0px 6px;
    }
    .sidebar-profile-picture{
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        margin-right: 8px;
    }
    .sidebar-user-name{
        color: rgb(50,64,84);
        margin-bottom: 5px;
        font-size: 12px;
        font-family: Inter;
        line-height: 16px;
    }
    .sidebar-user-email{
        color: rgb(113,131,155);
        font-size: 12px;
        font-family: Inter;
        line-height: 14px;
    }
}

@media (max-device-width: 767px){
    .sidebar{
        background-color: rgb(255,255,255);
        position: fixed;
        top: 70px;
        left: 0px;
        bottom: 0px;
        padding-top: 37px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .sidebar-open{
        display: contents;
        position: relative;
        height: 28px;
        width: 28px;
        border: none;
        border-radius: 28px;
    }
    .sidebar-arrow-icon{
        background-color: rgb(28,117,253);
        color: white;
        position: absolute;
        top: 18px;
        right: -15px;
        height: 20px;
        width: 20px;
        padding: 4px;
        border: none;
        border-radius: 28px;
        z-index: 2;
    }
    .sidebar-open:active{
        .sidebar{
            transition: all 0.5s ease;
        }
    }
    .sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 12px;
    margin-bottom: 2px;
    cursor: pointer;
    }
    .icon-text{
        display: none;
    }
    .sidebar-user-account{
        width: 40px;
        padding: 12px;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-profile-picture{
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        margin-left: 10px;
    }
    .sidebar-user-name{
        display: none;
    }
    .sidebar-user-email{
        display: none;
    }
}
